doctype html
html
  head
    title AR Film's Studio
    block scripts
    block style
      script(src='/jquery.js')
  body
    nav#navbar <!--.top.firstClass.secondClass><!-->
        ul 
            div#logo 
                img(src="/static/logo.jpg") 
            li #[a(href="/") Home] 
            li #[a(href="/about") About] 
            li #[a(href="/contact") Contact Us] 
    block content
    footer#footer
      p 
        | Copyright ©  2021 | https://arfilmsstudio.herokuapp.com/ | All rights reserved 
        br
        | Developed with ❤ by Vicky Nayak