doctype html
html
  head
    title AR Film's Studio
    block scripts
    block style
      script(src='/jquery.js')
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/logo.jpg") 
            li #[a(href="/") Home] 
            li #[a(href="/about") About] 
            li #[a(href="/contact") Contact Us] 
    block content
    footer#footer
      p 
        | Copyright ©  2022 | arfilmsstudio.herokuapp.com | All rights reserved 
        br
        | Developed with ❤ by 
        a(href='https://www.instagram.com/_vicky.knk._.04_/') Vicky Nayak
        br 
        | Click on my name to know more about me😊❕
